{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "node": "current"
            },
            "modules": "auto",
            "useBuiltIns": "usage",
            "corejs": 3
        }]
    ]
} 