# LLM API Keys
OPENAI_API_KEY=your-openai-api-key
DEEPSEEK_API_KEY=your-deepseek-api-key
MACSTUDIO_API_KEY=your-macstudio-api-key

# LLM API URLs (optional, use default if not set)
OLLAMA_API_URL=http://host.docker.internal:11434/api/generate
DEEPSEEK_API_URL=https://api.deepseek.com/v1
MACSTUDIO_API_URL=http://172.19.9.158:9997

# LLM Models (optional, use default if not set)
OLLAMA_MODEL=qwen2.5:32b
OPENAI_MODEL=chatgpt-4o-latest
DEEPSEEK_CHAT_MODEL=deepseek-chat
DEEPSEEK_REASONER_MODEL=deepseek-reasoner
MACSTUDIO_MODEL=qwen2.5-32B-MLX

# API Settings
LLM_TIMEOUT=30  # API request timeout in seconds
API_PREFIX=/api/v1 